@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:#07b9ff;
  
}

header {
    background: #8795ff;
    height: 130px;
}

h1 {
    text-align: center;
    color: white;
   padding-top: 15px;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.63);
}

header p {
    text-align: center;
    color: white;
    padding-top: 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.541);
}

nav {
    background-color: #8795ff;

    padding: 15px;
   
}

ul {
    display: flex;
}

li {
   list-style: none;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 15px;

}

a:hover {
    background-color: #86d0ee;
    color: black;
}

main {
    background-color: white;
    min-width: 320px;
    max-width: 1000px;
    margin: auto;
    padding: 15px;
   border-radius: 0px 0px 10px 10px;
   box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.527);
   
}

main img {
    width: 100%;
}

.pq{
    width: 50%;
    display: block;
    margin: auto;
}

iframe {
    width: 100%;
}

ul{
    list-style: none;
}


section {
    background-color: aqua;
    padding: 5px;
    margin: 20px;
    border: 2px solid  #8795ff;
}

aside {
    background-color: hsl(197, 100%, 75%);
    padding: 10px;
    border-radius: 10px;
}

aside h3 {
    text-shadow: 1px 1px 1px black;
    color: white;
    margin-bottom: 10px;
}

aside p {
    text-align: justify;
    text-indent:  10px;
    padding: 10px;
}

.p1 {
   padding-top: 10px;
   text-indent: 10px;
}

footer {
    background-color: #086f97;
    color: white;
    text-align: center;
    margin-top: 10px;
}