@charset "UTF-8";

@media(max-width: 420px) {
    .main{
        display: block;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
    }

    .container-login{
      margin: auto;
      transform: translateY(140px);
    }

    .foto {
        display: flex;
        margin: auto;
        transform: translateY(100px);
    }

    img{
        width: 40vw;
    }

    .foto > h1{
        display: none;
    }
}

